{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <br>
    <h2>Keskustelualueet</h2>
    {% for subforum in subforums %}
    <div class="card my-2">
        <div class="card-body">
            <a class="card-title" href="/subforum/{{ subforum[0] }}">{{ subforum[1] }}</a>
        </div>
    </div>
    {% endfor %}

    <h3>Uusimmat viestiketjut</h3>
    {% for topic in newest_topics %}
    <div class="card my-2">
        <div class="card-body">
            <a class="card-title" href="/topic/{{ topic[0] }}">{{ topic[1] }}</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
