{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="/login" method="POST">
        Käyttäjätunnus: <input type="text" name="username">
        Salasana: <input type="password" name="password">
        <input type="submit" value="Kirjaudu">
    </form>
    <a href="/signup">Uusi käyttäjä</a>
    {% endif %}
    <h2>Keskustelut</h2>
    {% for topic in topics %}
    <a href="/topic/{{ topic[0] }}">{{ topic[1] }}</a>
    <hr>
    {% endfor %}
    {% if session.username %}
    <a href="/newtopic">Uusi aihe</a>
    {% else %}
    <p>Kirjaudu sisään luodaksesi uuden aiheen</p>
    {% endif %}
{% endblock %}
