<!DOCTYPE html>
<html>
<head>
    <title>Tsoha Forum - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/custom.css') }}">
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Tsoha Forum</h1>
        <p>Sitä hyvää kontsua</p>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/">Etusivu</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Haku</a>
        </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
