{% extends "layout.html" %}
{% block title %}Uusi Aihe{% endblock %}
{% block content %}
    <h2>Uusi aihe</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="form-group">
        <form action="/subforum/{{ subforum_id }}/createtopic" method="POST">
            <label for="subject">Otsikko:</label>
            <textarea class="form-control" id="subject" name="subject" rows="1"></textarea>
            <label for="message">Kirjoita viesti:</label>
            <textarea class="form-control" id="message" name="content" rows="10"></textarea>
            <input class="btn btn-light btn-sm mr-sm-2" type="submit" value="Lähetä">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
{% endblock %}
