<!DOCTYPE html>
<html>
    <head>
        <title>Uusi käyttäjä</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <form action="/signup" method="POST">
            Käyttäjätunnus: <input type="text" name="username"><br>
            Salasana: <input type="password" name="password"><br>
            Salasana uudelleen: <input type="password" name="password_confirmation"><br>
            <input type="submit" value="Luo käyttäjätunnus">
        </form>
        <br>
        <a href="/">Takaisin etusivulle</a>
    </body>
</html>