{% extends "layout.html" %}
{% block title %}Uusi käyttäjä{% endblock %}
{% block content %}
    <h2>Uusi käyttäjä</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="/signup" method="POST">
        Käyttäjätunnus:<br>
        <input type="text" name="username"><br>
        Salasana:<br>
        <input type="password" name="password"><br>
        Salasana uudelleen:<br>
        <input type="password" name="password_confirmation"><br>
        <input type="submit" value="Luo käyttäjätunnus">
    </form>
    <br>
    <a href="/">Takaisin etusivulle</a>
{% endblock %}
