{% extends "layout.html" %}
{% block title %}Uusi käyttäjä{% endblock %}
{% block content %}
    <h2>Uusi käyttäjä</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="form-group col-6">
        <form action="/signup" method="POST">
            <input class="form-control form-control-sm my-2 mr-sm-2" type="text" name="username" placeholder="Käyttäjätunnus">
            <input class="form-control form-control-sm my-2 mr-sm-2" type="password" name="password" placeholder="Salasana">
            <input class="form-control form-control-sm my-2 mr-sm-2" type="password" name="password_confirmation" placeholder="Salasana uudelleen">
            <button class="btn btn-light btn-sm mr-sm-2" type="submit">Luo käyttäjätunnus</button>
        </form>
    </div>
    <br>
{% endblock %}
