{% extends "layout.html" %}
{% block title %}{{ topic[1] }}{% endblock %}
{% block content %}
    <h2>{{ topic[1] }}</h2>
    {% if session.user_role == "admin" %}
    <form action="/deletetopic/{{ topic[0] }}" method="POST">
        <input class="btn btn-light btn-sm mr-sm-2" type="button"
        onClick="confSubmit(this.form, 'Haluatko varmasti poistaa keskustelun lopullisesti?')"
        value="Poista keskustelu">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
    {% for message in messages if message[0] != 0%}
    <div class="card my-2">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Lähettäjä: {{ message[1] }}</h6>
            <br>
            <p class="card-text">{{ message[2] }}</p>
            <br>
            <p class="card-text">{{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}</p>
            {% if user_id == message[4] or session.user_role == "admin" %}
            <div class="form-group">
                <form action="/editmessage/{{ message[5] }}" method="GET">
                    <button class="btn btn-light btn-sm mr-sm-2" type="submit">Muokkaa</button>
                </form>
            </div>
            <div class="form-group">
                <form action="/{{ topic[0] }}/deletemessage/{{ message[5] }}" method="POST">
                    <input class="btn btn-light btn-sm mr-sm-2" type="button"
                    onClick="confSubmit(this.form, 'Haluatko varmasti poistaa viestin?')"
                    value="Poista">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if session.username %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="form-group">
        <form action="/topic/{{ topic[0] }}/send" method="POST" id="newmessage">
            <label for="message">Kirjoita viesti:</label>
            <textarea class="form-control" id="message" name="content" rows="10"></textarea>
            <input class="btn btn-light btn-sm mr-sm-2" type="submit" value="Lähetä">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
    {% else %}
    <p>Kirjaudu sisään vastataksesi keskusteluun</p>
    {% endif %}
    <br>
    <script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
