{% extends "layout.html" %}
{% block title %}{{ topic[1] }}{% endblock %}
{% block content %}
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    {% endif %}
    <h2>{{ topic[1] }}</h2>
    {% if session.user_role == "admin" %}
    <form action="/deletetopic/{{ topic[0] }}" method="POST">
        <input type="button"
        onClick="confSubmit(this.form, 'Haluatko varmasti poistaa keskustelun lopullisesti?')"
        value="Poista keskustelu">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
    <hr>
    {% for message in messages %}
    {% if message[0] == 0 %}
    <p><em>Viesti poistettu</em></p>
    {% else %}
    <p>
    {{ message[2] }}<br>
    <br>
    Lähettäjä: {{ message[1] }}<br>
    Lähetetty: {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}<br>
    {% if user_id == message[4] or session.user_role == "admin" %}
    <form action="/editmessage/{{ message[5] }}" method="GET">
        <input type="submit" value="Muokkaa">
    </form>
    <form action="/{{ topic[0] }}/deletemessage/{{ message[5] }}" method="POST">
        <input type="button"
        onClick="confSubmit(this.form, 'Haluatko varmasti poistaa viestin?')"
        value="Poista">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
    </p>
    {% endif %}
    <hr>
    {% endfor %}
    {% if session.username %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="/topic/{{ topic[0] }}/send" method="POST">
        Kirjoita viesti:<br>
        <textarea name="content" rows="10" cols="80"></textarea><br>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% else %}
    <p>Kirjaudu sisään vastataksesi keskusteluun</p>
    {% endif %}
    <br>
    <a href="/">Takaisin etusivulle</a>
    <script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
